header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    p{
        text-align: center;
    }
    .div2{
        background-color: #BCBAF0;
        padding: 5%;
    }
    h1{
        font-size: 50px;
    }
}
main{
    margin-top: 15px;
    background-color: #F3F3F3;
    display: grid;
    grid-template-rows: 50px 50px 50px 50px 50px 50px ;
    grid-template-columns: 1fr 1fr;
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
    gap: 10px;
    padding-bottom: 1.5%;
    img{
        height: 100%;
        width: auto;
        margin-left: 30%;
        margin-top: 15px;
    }
    p{
        background-color: #DE846B;
        padding-bottom: 20px;
        padding-top: 25px;

        align-items: center;
    }
}